@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
--very-dark-blue: hsl(233, 47%, 7%);
--dark-desaturated-blue: hsl(244, 38%, 16%);
--soft-violet: hsl(277, 64%, 61%);
--white: hsl(0, 0%, 100%);
--slightly-transparent-white1 : hsla(0, 0%, 100%, 0.75);
--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-size: 15px;
    background:var(--very-dark-blue);
    
}
.wrapper{
    max-width: 1000px;
    margin:0 auto;
    margin-top:140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
    overflow: hidden;
}
.wrapper{
    background-color:var(--dark-desaturated-blue)
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: relative;
}
img::after{
    position: absolute;
    content: '';
    background-color: var(--soft-violet);
    opacity: 0.1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}
.left{
    padding-left: 15%;
    padding-top: 7%;
    padding-right: 19%;
}
h1{
    font-family: "Inter",sans-serif;
    font-size: 31px;
    color:var(--white);
    font-weight:700;
}
.purple{
    color: var(--soft-violet);
}
p{
    color: var(--slightly-transparent-white);
    font-family: 'Lexand deca',sans-serif;
    font-size: 19px;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'lexand deca',sans-serif;
    color: var(--slightly-transparent-white1);
    margin-top:70px;
}
.st1,.st2,.st3{
    color:var(--white);
    font-weight: 700;
    font-size: 20px;
}
.stat1,.stat2,.stat3{
    font-family:'inter';
    font-size:12px;
}
.attribution{
    color: var(--slightly-transparent-white);
    text-align: center;
    margin-top: 150px;
}
a{
    text-decoration: none;
    color: var(--slightly-transparent-white1);
}





/* For mobile */
@media only screen and (max-width: 768px){
body{
    margin: 2em;
    display:inline-block;
    text-align: center; 
}
.wrapper{
    display: flex;
    flex-direction: column-reverse;
    height:fit-content;
}
img{
    width: 100%;
    object-fit: contain;
}
p{
    font-size: 14px;
}
.stats{
    display: inline-block;
    transform: translateY(-10%);
}

.stat2{
    padding-top: 30px;
}
.stat3{
    padding-top: 30px;
    padding-bottom: 35px;
}



}

/* Extras */
.wrapper:hover{
    box-shadow: 0 0 5em;
    color: var(--soft-violet);
}
